__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv
configurando-o-django-rest-framework-py3.13/

*.sqlite3
*.log
*.pot
*.mo
*.py[cod]
db.sqlite3
*.egg-info/
*.egg
.Python
*.env
*.venv

.idea/
.vscode/
.DS_Store

api

order12
product12
